@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    .nav{
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .9375rem;
    
}
.nav li a{
    text-decoration: none;
    list-style: none;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 220);
    margin-left: .9375rem;
    margin-right:.9375rem ;
    border-radius: .625rem;
}
.main div img{
    height: 28.125rem;
    width: 18.75rem;
    border-radius: .625rem;
    margin-left: .9375rem;
    margin-top: 1.25rem;
}
 .article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .9375rem;}

.article h1{
    font-size: 2.8125rem;
    
}
.tarea{
    display: flex;
    justify-content: center; 
    font-size: 1.5625rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    

}
.caracteristicas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .9375rem;
    background-color:rgb(245, 245, 220) ;
    margin: 15px;
    border-radius: .9375rem;
    
}

.nosotros1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    border-radius: .9375rem;
    
    
}
.nosotros2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    border-radius: .9375rem;
}
.nosotros3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    border-radius: .9375rem;
    
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 2.5rem;
    
}
#testimonios{
    background-color: beige;
}
.bank{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;

}
.numeros{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    margin: 1rem;
    gap: 1.25rem;
    
    background-color:rgba(245, 245, 220, 0.623) ;
    border-radius: 1.25rem;

}
.numeros h2{
    grid-column: 1/3;
    margin-left: .625rem;
}
.numeros p{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 2.5rem;
}

.clientes{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.satisfaccion{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2/3;
    font-size: 20px;
    font-weight: bold;
}
.dinero{
    grid-column: 3/4;
    font-size: 20px;
    font-weight: bold;
}
.impacto{
    grid-column: 1/3;
    grid-row: 2/4;
    width: 50%;
    height: 100%;
    border-radius: 1.25rem;
    margin-left: 50px;
}
.calculadora{
    display: flex;
    flex-direction: row;
}
.calculadora article{
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.calculadora div{
    margin-left: 500px;
}
.opiniones-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: 450px;
  background-color: rgba(128, 128, 128, 0.692);

    height: 37.5rem;
    gap: 25px;
    
}
.opinion{
    background-color: white; 
    padding: 15px;
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6.25rem;
    object-fit: contain;
    
}
.us{
    background-color:rgba(128, 128, 128, 0.692);
    display: flex;
    justify-content: center;
}
.opinion1{
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    
    
}
.opinion-footer{
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 50px; 

}
.opinion-footer h4{
    margin-left: 15px;
}

.opinion2{
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 30px;
}
.opinion-footer2{
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}
.opinion-footer2 h4{
    margin-left: 15px;
    margin-top: 20px;
}
.opinion3{
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 100px;
}
.opinion-footer3{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.opinion-footer3 h4{
    margin-left: 15px;
    margin-top: 90px;
}
.opinion4{
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
   
}
.opinion-footer4{
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 15px;
}
.opinion-footer4 h4{
    margin-left: 30px;
    
}
.opinion-footer4 img{
    margin-top: 7.5px;
}